/*--------------------------------------------------------
GENERAL
----------------------------------------------------------*/

:root {
    --orange:#e67e22;
    --gray:#353935;
    --latoFont:'Lato', sans-serif;
    --rubikFont: 'Rubik', sans-serif;
    font-size: 1.2vw;
}; 

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--rubikFont);
    color: white;
    overflow-x: hidden;
    background-color: black;
    font-size: 1.1rem;
}

button {
    background-color: var(--orange);
    padding: 2%;
    color: white;
    border:transparent;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.5s;
    -o-transition: background-color 0.5s, color 0.5s, font-size 0.5s, padding 0.5s;
}

button:hover {
    background-color: black;
    color: var(--orange);
    font-size: 1.2rem;
    padding: 2.5%;
} 

button:disabled {
    background-color: grey;
    color: rgba(255, 255, 255, 0.308);
}

button:disabled:hover {
    color: rgba(255, 255, 255, 0.308);
    font-size: 1.1rem;
    padding: 2%;
}

h2 {
    display: block;
    width: fit-content;
    margin: 3rem auto;
    padding: 0.3rem 0.3rem;
    border-bottom: solid 0.1rem white;
    font-size: 2rem;
}

h3 {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}


/*--------------------------------------------------------------------------
HEADER
----------------------------------------------------------------------------*/
header {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#welcome-video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

#welcome-video {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#header-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    margin: 1rem;
}

.nav-icon {
    display: none;
}

nav {
    position: fixed;
    top: 3rem;
    right: 5%;
    font-size: 1.8vw;
    z-index: 1;
    width: 40vw;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10%;
    padding: 1rem 0;
    border-bottom: solid 1px transparent ;
    transition: color 0.5s, border-bottom 0.5s;
    -webkit-transition: color 0.5s, border-bottom 0.5s;
    -moz-transition: color 0.5s, border-bottom 0.5s;
    -ms-transition: color 0.5s, border-bottom 0.5s;
    -o-transition: color 0.5s, border-bottom 0.5s;
}

nav a:hover,
nav a:active {
    border-bottom: solid 0.1rem var(--orange);
    color: var(--orange);
}

nav#scrolled {
    top: 0;
    left: 0;
    text-align: right;
    padding: 0.6rem 0 0.6rem 0;
    width: 100vw;
    font-size: 1.5vw;
    background-color: gray ;
    opacity: 0.5;
    z-index: 2;
}

nav#scrolled a {
    z-index: 10;
    padding: 0.5rem 0;
    margin-right: 5vw;
}

#header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

#header-content p{
    font-family: var(--latoFont);
    font-weight: 700;
    font-size: 3rem;
    color: #A9A9A9;
}

#header-content > div > p{
    font-style: italic;
    color: gray;
}

#emphasis {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#header-content-buttons {
    margin-top: 8rem;
}

#header-content-buttons > a:first-child{
    margin-right: 30%;
}

/*--------------------------------------------------------------------------
HOW IT WORKS
----------------------------------------------------------------------------*/
#how-it-works{
    padding: 1rem;
    color: white;
}

#how-it-works_description {
    padding: 0 5rem;
    text-align: center;
}

.steps-container {
    max-width: 90%;
    padding: 0 5%;
}

.steps {
    font-size: 5rem;
    font-weight: 700;
    color: gray;
    text-shadow: 0.3rem 0.3rem 1rem gray;
}

picture {
    display: block;
    width: 40%;
    margin: 5rem auto;
}

picture > img {
    width: 100%;
    visibility: hidden;
    transform: translate(200%,-200%);
    -webkit-transform: translate(200%,-200%);
    -moz-transform: translate(200%,-200%);
    -ms-transform: translate(200%,-200%);
    -o-transform: translate(200%,-200%);
    transition: transform 1s, visibility 1s;
    -webkit-transition: transform 1s, visibility 1s;
    -moz-transition: transform 1s, visibility 1s;
    -ms-transition: transform 1s, visibility 1s;
    -o-transition: transform 1s, visibility 1s;
}

picture > img.appear {
    visibility: visible;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
}

#meals {
    background-color: black;
}

@keyframes blinking {
    0% {color:white;}
    25% {color: red;}
    50% {color: green;}
    75% {color: orange;}
    100% {color: blue;}
}

span a {
    font-size: 1.3rem;
    text-decoration: none;
    animation-name: blinking;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*--------------------------------------------------------------------------
MEALS
----------------------------------------------------------------------------*/
#meals {
    position: relative;
}

#meals > p{
    margin:0 0 2rem 4rem;
}

#gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    margin: 0 auto;
}

#gallery img {
    width: 96%;
    height: 98%;
    border: 1px solid transparent;
    border-radius: 10%;
    box-shadow: 0.15rem 0.15rem 0.4rem 0.08rem orange;
}

.flip-box {
    width: 100%;
    height: 30rem;
    perspective: 1000px;
}

.meal-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.front-side, .back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front-side > div {
    height: 100%;
    width: 100%;
}

.back-side {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.back-side-complete {
    position: relative;
    height: 100%;
    width: 100%;
}

.back-side-complete > img {
    opacity: 0.2;
}

.back-side-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 2rem;
}

.back-side-details > p {
    padding-bottom: 6rem;    
}

.back-side-details > button {
    padding: 0.6rem 3rem;
}

.show-meals {
    display: none;
}

/*--------------------------------------------------------------------------
Trust the Chef
----------------------------------------------------------------------------*/
/* #trust-the-chef {
    height: 40rem;
} */

#trust-the-chef > video {
    display: block;
    margin: 0 auto;
    width: 90%;
    /* height: 50%; */
}


/*--------------------------------------------------------------------------
Order
----------------------------------------------------------------------------*/
#order > form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.form-element {
    display: grid;
    grid-template-columns: 30% auto;
    padding: 2rem 0;
}

#order button {
    display: block;
    margin: 1rem auto;
    margin-bottom: 5rem;
}



/*--------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------*/
footer {
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 50% 50%;
}

#footer-logo{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1rem 2rem;
} 

#footer-logo div{
    grid-column: 1/6;
    margin-bottom: 4rem;
}

#footer-logo div > img {
    width:8%;
    vertical-align: middle;
}

#footer-logo span {
    font-size: 2rem;
    font-style: italic;
    padding-left:2rem;
    vertical-align: middle;
}

ion-icon {
    color: grey;
    font-size: 1.2rem;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

ion-icon[name="logo-facebook"]:hover {
    color: #3b5998;
}

ion-icon[name="logo-whatsapp"]:hover {
    color: #075e54;
}

ion-icon[name="logo-instagram"]:hover {
    color: #d62976;
}

ion-icon[name="logo-twitter"]:hover {
    color: #00acee;
}

#footer-contact{
    margin: 0 auto;
    font-weight: 100;
    font-size: 1rem;
}


#footer-contact > *:first-child {
    display: inline-block;
    border-bottom: 0.2rem solid grey;
    padding: 0 0.3rem 0.3rem;
}


/*--------------------------------------------------------------------------
----------------------------------------------------------------------------
--------------------------------------------------------------------------

TABLET

----------------------------------------------------------------------------
--------------------------------------------------------------------------
----------------------------------------------------------------------------*/

@media only screen and (max-width: 600px){
   :root {
    font-size: 1.5vw;
   }    
} 









/*--------------------------------------------------------------------------
----------------------------------------------------------------------------
--------------------------------------------------------------------------

MOBILE

----------------------------------------------------------------------------
--------------------------------------------------------------------------
----------------------------------------------------------------------------*/

@media only screen and (max-width: 480px){
    :root {
        font-size: 3vw;
    }

    h2 {
        font-size: 1.5rem;
        margin: 2rem auto;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    /*--------------------------------------------------------------------------
    Header
    ----------------------------------------------------------------------------*/
    #header-logo{
        width: 15%;
    }

    .nav-icon {
        display: block;
        position: fixed;
        top: 4vw;
        right: 3vw;
        z-index: 3;
}

    .nav-icon:nth-of-type(3) {
        visibility: hidden;
    }

    .nav-icon ion-icon {
        font-size: 8vw;
        color: white;
    }

    nav {
        background-color: grey;
        opacity: 0.9;
        height: 40vw;
        top: 1.5vw;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-top:3rem;
        border: 1px solid transparent;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        transform:translateX(100%) ;
        -webkit-transform:translateX(100%) ;
        -moz-transform:translateX(100%) ;
        -ms-transform:translateX(100%) ;
        -o-transform:translateX(100%) ;
        visibility: hidden;
}

    nav a{
        display: block;
        font-size: 3vw;
        width: 100%;
        margin-bottom: 1vw;
}

    nav a:hover,
    nav a:active{
        background-color: #353935;
        border-bottom: 1px solid transparent;
    }

    nav#scrolled {
        top: 1.5vw;
        left: auto;
        right: 0;
        text-align: center;
        padding:3rem 0 0 0;
        width: auto;
        font-size: 1.5vw;
        background-color: grey ;
        opacity: 0.9;
        z-index: 2;
        height: 40vw;
        width: 40vw;
        display: flex;
        flex-direction: column;       
    }
    
    nav#scrolled a {
        padding: 1rem 0;
    }

    #header-content p{
        font-size: 2rem;
        text-align: center;
        padding-top: 1rem;
    }

    #emphasis {
        text-align: center;
        justify-content: space-around;
        width: 100%;
    }

    #emphasis p{
        font-size: 1.5rem;
    }

    #header-content-buttons {
        display: flex;
        /* font-size: 1rem; */
    }

    #header-content-buttons {
        margin-top: 15vh;
    }

    #header-content-buttons button{
        font-size: 0.7rem;
        padding: 0.5rem 2rem;
    }

    #header-content-buttons > a:first-child {
        margin-right: 10%;
    }


    /*--------------------------------------------------------------------------
    How-it-works
    ----------------------------------------------------------------------------*/
    .steps {
        margin-bottom: 1rem;
    }




    /*--------------------------------------------------------------------------
    Meals
    ----------------------------------------------------------------------------*/
    #gallery {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    #meals > p {
        text-align: center;
        margin-left: 0;
    }

    .flip-box {
        height: 20rem;
        margin-bottom: 3rem;
        display: none;
    }

    .flip-box:first-child,
    .flip-box:nth-child(2),
    .flip-box:nth-child(3) {
        display: block;
    }

    .back-side-details p{
        padding-bottom: 5rem;
    }

    .back-side-details button {
        font-size: 0.8rem;
    }

    .show-meals {
        display: block;
        color: grey;
        background-color: rgba(128, 128, 128, 0.1);
        width: fit-content;
        margin: 0 auto;
    }

    #hide {
        display: none;
        cursor: pointer;
    } 
    
    @keyframes bounce {
        0% { transform:translateY(0%); -webkit-transform:translateY(0%); -moz-transform:translateY(0%); -ms-transform:translateY(0%); -o-transform:translateY(0%); }
        50% { transform:translateY(20%); -webkit-transform:translateY(20%); -moz-transform:translateY(20%); -ms-transform:translateY(20%); -o-transform:translateY(20%); }
        100% { transform: translateY(-20%); -webkit-transform: translateY(-20%); -moz-transform: translateY(-20%); -ms-transform: translateY(-20%); -o-transform: translateY(-20%); }
    }

    #show {
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }


    /*--------------------------------------------------------------------------
    Trust-the-chef
    ----------------------------------------------------------------------------*/
    video {
        height: 20rem;
    }


    /*--------------------------------------------------------------------------
    Trust-the-chef
    ----------------------------------------------------------------------------*/
    #order > form {
        width: 85%;
    }

    .form-element {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
    }

    .form-element > label {
        margin-right: 2rem;
        font-size: 0.8rem;
    }

    form > button {
        font-size: 1rem;
    }

    button:disabled:hover {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
    }




    /*--------------------------------------------------------------------------
    Footer
    ----------------------------------------------------------------------------*/
    #footer-logo {
        padding: 1rem 0.5rem;
    }
    #footer-logo div > img {
        width: 25%;
    }

    #footer-logo span {
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    #footer-contact {
        margin: 1rem auto 0;
    }

    #footer-contact > *:first-child {
        font-size: 0.8rem;
    }

    #footer-contact > * {
        font-size: 0.8rem;
    }
}